#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
}

#actions {
    font-size: 1.3em;
    margin-right: 25px;
}

#actions input {
    width: 65px;
    margin: 8px;
}

.title-badge {
    padding: 10px;
    background-color: #7d5fff;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}