body {
  background-color: #7d5fff;
}

.float-right {
  float: right;
}

.vertical-center {
  display: inline-flex;
  align-items: center;
}

button {
  padding: 6px;
  margin: 5px;
}

.hand {
  cursor: pointer;
}