body {
  background-color: #7d5fff;
}

.float-right {
  float: right;
}

.vertical-center {
  display: inline-flex;
  align-items: center;
}

button {
  padding: 6px;
  margin: 5px;
}

.hand {
  cursor: pointer;
}

.small-text {
  font-size: smaller;
}

.padding-x {
  padding-left: 8px;
  padding-right: 8px;
}